:root {
  --bg-body: #f5f7fb;

  --azul-principal: #2563eb;
  --azul-hover: #1e40af;

  --azul-claro: #dbeafe;
  --azul-texto: #1d4ed8;

  --amarelo-claro: #fef3c7;
  --amarelo-texto: #b45309;

  --laranja-claro: #fde68a;
  --laranja-texto: #92400e;

  --verde-claro: #dcfce7;
  --verde-texto: #166534;

  --ciano-texto: #043531;
  --ciano-claro: #00f1d1;
}

/* MENU */
.topo {
  background: linear-gradient(to right, #0b1d4d, #1f3c88);
}

.topo-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 16px 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 18px;
  color: white;
}

/* LINKS */
.topo nav {
  display: flex;
  gap: 24px;
}

.topo nav a {
  color: white;
  text-decoration: none;
  position: relative;
  font-size: 14px;
}

/* HOVER */
.topo nav a:hover {
  opacity: 0.8;
}

.topo nav a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background: white;
  transition: 0.3s;
}

.topo nav a:hover::after {
  width: 100%;
}

/* CARD */
.card {
  background: white;
  padding: 20px;
  border-radius: 15px;
  position: relative;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

  display: flex;
  flex-direction: column;
  min-height: 260px;
  transition: 0.2s;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

/* TAG */
.tag {
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 12px;
  margin-bottom: 5px;
}

.azul { background: var(--azul-claro); color: var(--azul-texto); }
.amarelo { background: var(--amarelo-claro); color: var(--amarelo-texto); }
.laranja { background: var(--laranja-claro); color: var(--laranja-texto); }
.verde { background: var(--verde-claro); color: var(--verde-texto); }
.ciano { background: var(--ciano-claro); color: var(--ciano-texto); }

/* PREÇO */
.preco {
  position: flex;
  top: 15px;
  right: 15px;
  color: var(--azul-texto);
  font-weight: bold;
}

/* TEXTO */
.card h3 {
  margin-top: 10px;
  font-weight: 600;
}

.card p {
  color: var(--cinza-texto);
  font-size: 14px;
  margin-top: 5px;
  flex-grow: 1;
}

/* BOTÃO */
.card button {
  margin-top: 15px;
  background: var(--azul-principal);
  color: white;
  padding: 10px;
  border-radius: 8px;
  cursor: pointer;
}

.card button:hover {
  background: var(--azul-hover);
}

/* ORÇAMENTO */
.orcamentos-card {
  background: var(--bg-body);
  padding: 15px;
}
