<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
        integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="../static/cadascss.css">
    <title>Criar conta</title>
</head>

<body>
    <main id="form_container">
        <div id="form_header">
            <h1 id="form_title">
                Criar conta
            </h1>
            <button class="btn-default" onclick="window.location.href='{{ url_for('index') }}'">
                <i class="fa-solid fa-right-to-bracket"></i>
            </button>
        </div>

        {% if erro %}
            <div style="background-color: #ffcccc; color: #cc0000; padding: 10px; border-radius: 5px; text-align: center; margin-bottom: 15px; font-weight: bold;">
                <i class="fa-solid fa-circle-exclamation"></i> {{ erro }}
            </div>
        {% endif %}

        <form action="{{ url_for('salvar') }}" method="POST" id="form">
            <div id="input_container">
                <div class="input-box">
                    <label for="name" class="form-label">
                        Primeiro nome
                    </label>
                    <div class="input-field">
                        <input type="text" name="nome" id="name" class="form-control" placeholder="Fulano" required>
                        <i class="fa-regular fa-user"></i>
                    </div>
                </div>

                <div class="input-box">
                    <label for="last_name" class="form-label">
                        Último nome
                    </label>
                    <div class="input-field">
                        <input type="text" name="sobrenome" id="last_name" class="form-control" placeholder="De Tal" required>
                        <i class="fa-regular fa-user"></i>
                    </div>
                </div>

                <div class="input-box">
                    <label for="birthdate" class="form-label">
                        Nascimento
                    </label>
                    <div class="input-field">
                        <input type="date" name="data_nascimento" id="birthdate" class="form-control" required>
                    </div>
                </div>

                <div class="input-box">
                    <label for="email" class="form-label">
                        E-mail
                    </label>
                    <div class="input-field">
                        <input type="email" name="email" id="email" class="form-control"
                            placeholder="exemplo@gmail.com" required>
                        <i class="fa-regular fa-envelope"></i>
                    </div>
                </div>

                <div class="input-box">
                    <label for="password" class="form-label">
                        Senha
                    </label>
                    <div class="input-field">
                        <input type="password" name="senha" id="password" class="form-control" placeholder="*******" required>
                        <i class="fa-regular fa-eye-slash password-icon"></i>
                    </div>
                </div>

                <div class="input-box">
                    <label for="confirm_password" class="form-label">
                        Confirmar senha
                    </label>
                    <div class="input-field">
                        <input type="password" name="confirm_password" id="confirm_password" class="form-control"
                            placeholder="*******" required>
                        <i class="fa-regular fa-eye-slash password-icon"></i>
                    </div>
                </div>

                <div class="radio-container">
                    <label class="form-label">
                        Gênero
                    </label>

                    <div id="gender_inputs">
                        <div class="radio-box">
                            <input type="radio" name="sexo" id="female" class="form-control" value="Feminino" required>
                            <label for="female" class="form-label">
                                Feminino
                            </label>
                        </div>

                        <div class="radio-box">
                            <input type="radio" name="sexo" id="male" class="form-control" value="Masculino" required>
                            <label for="male" class="form-label">
                                Masculino
                            </label>
                        </div>

                        <div class="radio-box">
                            <input type="radio" name="sexo" id="other" class="form-control" value="Outro" required>
                            <label for="other" class="form-label">
                                Outro
                            </label>
                        </div>
                    </div>

                </div>
            </div>

            <button type="submit" class="btn-default">
                <i class="fa-solid fa-check"></i>
                Criar conta
            </button>
        </form>
    </main>

    <script src="../static/js/cadastro.js"></script>
</body>

</html>