<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Novo Serviço</title>
  <link rel="icon" href="{{ url_for('static', filename='img/agenda-facil.png') }}" type="image/png" />


  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="../static/global.css">
  <link rel="stylesheet" href="../static/painel.css">
</head>

<body class="bg-[var(--bg)]">

  <!-- HEADER (padronizado) -->
  {% include 'partials/header.html' %}
  <div class="form-wrapper">
    <h1 class="form-title">Cadastrar Novo Serviço</h1>

    <form id="form" class="form-card">

      <div class="form-group">
        <label class="form-label">Categoria</label>
        <select id="categoria" class="input">
          <option>Selecione</option>
          <option value="mecanica">Mecânica</option>
          <option value="eletrica">Elétrica</option>
          <option value="tecnologia">Tecnologia</option>
          <option value="reformas">Reformas</option>
          <option value="hidraulica">Hidráulica</option>
          <option value="limpeza">Limpeza</option>
        </select>
      </div>

      <div class="form-group">
        <label class="form-label">Serviço</label>
        <select id="subcategoria" class="input">
          <option>Selecione uma categoria primeiro</option>
        </select>
      </div>

      <div class="form-group">
        <label class="form-label">Descrição</label>
        <textarea id="descricao" class="input textarea"></textarea>
      </div>

      <div class="form-row">
        <div class="form-group">
          <label class="form-label">Preço Base (R$)</label>
          <input id="preco" type="number" class="input" />
        </div>

        <div class="form-group">
          <label class="form-label">Duração (Horas)</label>
          <input id="duracao" type="number" class="input" />
        </div>
      </div>

      <button type="submit" class="btn-primary">+ Cadastrar Serviço</button>
    </form>
  </div>

  <script src="../static/js/forms.js"></script>

<!-- FOOTER -->
    <footer class="footer">
      <div class="footer__inner">
        <strong class="footer__brand">
          Agenda Fácil
        </strong>

        <p class="footer__tagline">
          Conectando pessoas a profissionais de confiança.
        </p>

        <div class="footer__links">
          <a href="#">Termos</a>
          <a href="#">Privacidade</a>
          <a href="#">Contato</a>
        </div>

        <p class="footer__copy">
          © 2025 Agenda Fácil. Todos os direitos reservados.
        </p>

          <style>
      .footer__inner {
        margin-bottom: 20px;
      }
    </style>
</body>

</html>